.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 215px 80px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0;
}

.recipes__subtitle {
  margin: 24px 0 80px;
  color: #fff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recipes__iframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  border: none;
  margin: 0;
  list-style-type: none;
  width: 480px;
  height: 273px;
  padding: 0;
}
